In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv(r'C:/Users/pc/Downloads/Titanic-Dataset.csv')

In [3]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
df[df['Embarked'].isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN

this shows the MCAR ( missing at reandom )

In [5]:
df[df['Cabin'].isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [6]:
df['cabin_null']=np.where(df['Cabin'].isnull(),1,0)

In [7]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,cabin_null
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1

In [8]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'cabin_null'],
      dtype='object')

In [9]:
#find the percentage of NAN Values 

print((df['cabin_null'].mean())*100,'%')

77.10437710437711 %

In [10]:
df.groupby('Survived')['cabin_null'].mean()

Survived
0    0.876138
1    0.602339
Name: cabin_null, dtype: float64

In [11]:
df1=pd.read_csv(r'C:/Users/pc/Downloads/Titanic-Dataset.csv',usecols=['Age','Survived','Fare'])

this shows the data was not mCAR no missing completely at random

In [12]:
def impute_nan(df1,variable,median):
    
    df[variable+"_median"]=df[variable].fillna(median)

In [13]:
median=df1.Age.median()
median

28.0

In [14]:
impute_nan(df1,'Age',median)

In [15]:
df1['Age_median'].isnull().sum()

KeyError: 'Age_median'

In [ ]:
df1.head()

In [ ]:
df1.drop('Age', axis=1, inplace=True)

In [ ]:
df1.head()

In [ ]:
print(df['Age'].std())
print(df1['Age_median'].std())

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
fig=plt.figure()

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(111)

df['Age'].plot(kind='kde', ax=ax)
df1.Age_median.plot(kind='kde', ax=ax, color='red')
lines, labels = ax.get_legend_handles_labels()
ax.legend(lines, labels, loc='best')

## KDE Plot Analysis – Original vs Median-Imputed Age
The KDE plot above compares the distribution of the 'Age' variable before and after median imputation:

#### Distribution Similarity
The original Age variable (blue line) and the median-imputed version (Age_median, red line) exhibit a largely similar overall distribution. This suggests that the imputation method did not significantly alter the underlying shape of the data.

#### Impact of Median Imputation
The red curve demonstrates a noticeable peak around the median value. This is expected behavior, as all missing values were filled using the same median value, resulting in a localized increase in data density.

#### Preservation of Natural Variation
The original Age distribution appears smoother, reflecting the natural spread of values prior to imputation. In contrast, the imputed column shows a sharper spike due to the concentration of replaced values.

#### Conclusion
Median imputation has maintained the general structure of the original feature distribution with minimal distortion, aside from the predictable peak at the imputation point. Therefore, in this case, median imputation appears to be a suitable method for handling missing values in the Age column.

In [ ]:
def impute_nan(df, variable, median):
    
    # Create a column with median imputation
    df[variable + "_median"] = df[variable].fillna(median)
    
    # Create a column with the original values
    df[variable + "_random"] = df[variable]
    
    # Generate a random sample from the non-missing values
    random_sample = df[variable].dropna().sample(
        df[variable].isnull().sum(),
        random_state=0
    )
    
    # Set the index of the random sample to the index of missing values
    random_sample.index = df[df[variable].isnull()].index
    
    # Assign the random sample to the missing positions in the new column
    df.loc[df[variable].isnull(), variable + '_random'] = random_sample

In [ ]:
median

### 3.Arbitrary value imputation

it consist of NAN values relacement by Arbitarary values

### Arbirary values
it shoud not be majority of values oresent like we can take least value og the outlier or the maximum value of outlier

In [16]:
df2=pd.read_csv(r'C:/Users/pc/Downloads/Titanic-Dataset.csv',usecols=['Age','Survived','Fare'])

In [ ]:
def impute_arbitrary(df,variable,):